nav {
    background-color: deepskyblue;
    color: #fff;
}

.nav-logo {
    ba
    float: left;
    font-size: 20px;
    padding: 10px 5px;
}

header {
    text-align: center;
}

article {
    text-align: center;
}
.table {
    max-width: 600px; 
    margin: 3em auto;
    border-color: blue;
}

footer {
    text-align: center;
    background-color: darkturquoise
}